<% content_for :title, "Leilões" -%>

<div class="em-wrapper-main">
  <div class="container container-main">
    <div class="em-inner-main">
      <div class="em-main-container em-col1-layout">
        <div class="row">
          <div class="em-line-01 em-col-main col-sm-24">
            <div class="widget-title">
              <h1><span>Leilões</span></h1>
            </div>
            <div class="category-products">
              <% if @auctions.blank? %>
              <p>Nenhum leilão disponível.</p>
              <% else %>
              <div id="em-grid-mode">
                <ul class="emcatalog-grid-mode products-grid emcatalog-disable-hover-below-mobile">
                  <% @auctions.each do |auction| %>
                  <li class="item" id="auction-<%= auction.id %>">
                    <div class="product-item">
                      <div class="product-shop-top">
                        <%= link_to auction_path(auction.id) do %>
                        <%= image_tag(auction.image.url(:tiny), class: 'em-img-lazy img-responsive') %>
                        <% end %>
                      </div>
                      <div class="product-shop">
                        <div class="f-fix">
                          <h2 class="product-name text-center  "><%= link_to auction.name, auction_path(auction.id) %></h2>
                          <div class="text-center price-box regular-price">
                            valor Atual <span class="price" id="auction-value"><%= number_to_currency auction.current_value %></span>
                          </div>
                          <div class="text-center price-box regular-price">
                            Status <span class="price" id="auction-status"><%= auction.ending ? 'Arrematado' : 'Disponível' %></span>
                          </div>
                          <%= link_to bid_path(auction.id), remote: true do %>
                          <div class="points">
                            <div>Cobrir Lance</div>
                          </div>
                          <% end %>
                        </div>
                      </div>
                    </div><!-- /.product-item -->
                  </li>
                  <% end %>
                </ul>
              </div><!-- /.em-grid-mode -->
              <% end %>

              <div class="toolbar-bottom em-box-03">
                <div class="toolbar">
                  <div class="pager">
                    <%= will_paginate @auctions %>
                  </div><!-- /.pager -->
                </div>
              </div><!-- /.toolbar-bottom -->
            </div><!-- /.category-products -->
          </div>
        </div>
      </div><!-- /.em-main-container -->
    </div>
  </div>
</div>

<% content_for :inline_javascript do %>
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>

<script>
  // Enable pusher logging - don't include this in production
  <% if Rails.env == 'development' %>
  Pusher.logToConsole = true;
  <% end %>

  var pusher = new Pusher('78754a64770633d78f3f', {
    cluster: 'us2',
    encrypted: true
  });

  var channel = pusher.subscribe('auction');
  channel.bind('my-event', function(data) {
    $('#auction-' + data.id + ' #auction-value').text('R$ ' + data.value)
    if (data.ending === true){
      $('#auction-' + data.id + ' #auction-status').text('Arrematado')
    }
  });
</script>
<% end %>
